
.main__content{
    padding: 0 15px;
    display: flex;
    @include for-biger-than-tablet {
        flex-direction: column;
    }
    @include for-phone-only {
        flex-direction: column;
    }
    @include for-tablet-portrait-up {
        flex-direction: column;
    }
    .main__content-section {
        padding: 0 20px;
        flex-basis: 50%;
        flex-grow: 1;
        @include for-phone-only {
            padding: 0;
        }
        @include for-tablet-portrait-up {
            margin-top: 30px;
        }
        .single__section{
            flex-shrink: 0;
            @include for-phone-only {
                margin-top: 20px;
            }
            @include for-biger-than-tablet{
                margin-top: 30px;
            }
            .single__section-header{
                padding-bottom: 5px;
                border-bottom: 1px solid $white;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 4px;
                @include for-phone-only {
                    margin-bottom: 15px;
                }
                @include for-biger-than-tablet{
                    margin-top: 30px;
                }
            }
            .single__section-sub-header{
                padding: 15px 0;
                position: relative;
                margin-bottom: 10px;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 1px;

                &::before {
                    position: absolute;
                    content: ""; 
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    overflow: hidden;
                    background: rgba($yellow, 0.3);
                    border-radius: 5px;
                }
                
                .animated__span{
                    position: absolute;
                    content: ""; 
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 7px;
                    overflow: hidden;
                    background: $yellow;
                    border-radius: 5px;
                    z-index: 2;
                    transition: width 0.72s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }
            
            .single__section-content{
                padding: 0 20px;
                line-height: 1.55;
                color: $sec;

                @include for-phone-only {
                    padding: 0;
                    font-size: 13px;
                }
                @include for-tablet-portrait-up{
                    padding: 0;
                    font-size: 22px;
                }
                @include for-biger-than-tablet{
                    font-size: 22px;
                    margin-top: 20px;
                }
                
                .level__one{
                    margin: 10px 0;
                }
                .level__two {
                    margin-left: 25px;
                    @include for-phone-only {
                        margin-left: 15px;
                    }
                }
                .level__three {
                    margin-left: 50px;
                    color: $level3;
                    @include for-phone-only {
                        margin-left: 30px;
                    }
                }

                .single__section-portofolios {
                    display: flex;
                    @include for-phone-only {
                        flex-direction: column;
                    }
                    @include for-tablet-portrait-up{
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    @include for-biger-than-tablet{
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .single__section-portofolio-container {
                        margin-left: 5px;
                        @include for-phone-only {
                            margin: 10px 0;
                        }
                        @include for-tablet-portrait-up{
                            margin: 10px 0;
                            width: 100%;
                        }
                        @include for-biger-than-tablet{
                            margin: 15px 0;
                        }
                        &:nth-of-type(1) {
                            @include for-tablet-portrait-up{
                                margin-right: 5px;
                            }
                            @include for-biger-than-tablet{
                                margin-right: 15px;
                            }
                        }
                        .portofolio{
                            width: 200px;
                            padding: 1px;
                            border: 1px solid $sub;
                            border-radius: 3px;
                            cursor: pointer;
                            margin: 10px 0;

                            @include for-phone-only {
                                width: 100%;
                            }
                            @include for-tablet-portrait-up {
                                width: 100%;
                            }
                            @include for-biger-than-tablet {
                                width: 380px;
                            }
                        }
                        .portofolio-header{
                            color: $anchor;
                            font-size: 18px;
                            text-align: center;

                            @include for-phone-only{
                                font-size: 22px;
                            }
                            @include for-tablet-portrait-up{
                                font-size: 23px;
                            }
                            @include for-biger-than-tablet {
                                font-size: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
    .small-header {
        color: $sub;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.5px;
        @include for-phone-only{
            font-size: 12px;
        }
    }
    .edu-header{
        color: $black;
        font-size: 26px;
        font-family: 'EB Garamond', serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        @include for-phone-only{
            font-size: 15px;
            font-family: lato;
        }
    }
    .edu-header-smaller{
        color: $black;
        font-size: 20px;
        letter-spacing: 1.5px;
        @include for-phone-only{
            font-size: 12px;
        }
    }
}
[class^="level"] {
    margin: 5px 0;
}
